<!doctype html>
<html lang="{{ .Site.LanguageCode }}" class="no-js">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    {{ partial "navbar" . }}
    {{ partial "hero" . }}
    {{ partial "subnav" . }}

    <div class="container">
      <div id="carbonads-container">
        <div class="carbonad">
          <div id="azcarbon"></div>
        </div>
      </div>

      {{ block "main" . }}
      {{ end }}
    </div>

    {{ partial "footer" . }}

    {{ partial "lazyload" . }}
    {{ partial "carbonads" . }}
  </body>
</html>
